[workspace]
resolver = "2"
members = [
    "qmpo-core",
    "qmpo",
    "qmpo-lau",
]

[workspace.package]
version = "0.1.0"
edition = "2024"
license = "MIT"

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
